*{
	margin:0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: '微软雅黑';
}
a,li{
	list-style: none;
	text-decoration: none;
}
.table tr td {border: 1px solid #41566a!important;}
.table tr th {border: 1px solid #41566a!important;}
.xin{
	background: url(../img/xin.png)no-repeat left;
	padding-left: 25px;
}
.pdlf_im{
	padding-left: 0!important;
}
.row{
	margin: 0!important;
}
.tt{
	color:#fff;
}
/*检索页全部样式*/
/*头部样式*/
.header{
	padding: 0 24px 0px 24px;
	height: 87px;
	border-bottom: 1px solid #6ba7b5;
	background: #031730;
	position: relative;
}
.fontSize{
	font-size: 36px;
	color:#e2e2e2;
	line-height: 87px;
	font-weight: normal;
}
.fontSize a{
	color:#e2e2e2;
	text-decoration: none;
}
.Color{
	color:#e2e2e2;
}
.time-w{
	padding-right: 12px;
}
.Color div{
	font-size: 16px;
	padding-top: 48px;
}
#time{
	display: inline-block;
}
.bg_news p{
	text-align: center;
	margin-bottom: 0;
	line-height: 22px;
	padding-top: 10px;
}
.bg_news{
	padding-top: 14px!important;
	position: absolute;
	right: 18px;
	top: 85px;
	z-index: 99;
	background:url(../img/FG.png)no-repeat;
	width: 237px;
	height: 127px;
	background-size: 100%;
}
/*search.html样式*/
.search{
	margin:25px 0 10px 0;
	padding: 0 25px 0 25px;
}
.search_input{
	color:#e2e2e2;
	width: 70%;
	float: left;
	background: #001434;
	border: 1px solid #2c486f;
	border-radius: 4px 0px 0px 4px;
	height: 46px;
}
.search_btn{
	background: #001434;
	border: 1px solid #2c486f;
	border-left:0px;
	height: 46px;
	border-radius: 0px 4px 4px 0px;
	color:#e2e2e2;
}
.date span{
	color:#e2e2e2;
}
.date_h{
	background: #001434;
	border: 1px solid #2c486f;
	border-radius: 4px;
	height:46px;
	line-height: 46px;
	color:#e2e2e2;
	font-size: 18px;
	padding-left: 12px;
}
/*搜索出来的内容*/
.menu{
	width: 100%;
	margin-left: 9px;
	background:#021226;
}
.menu h3{
	font-size: 18px;
	cursor: pointer;
	color:#e2e2e2;
	height: 45px;
	line-height: 45px;
	background: #021226;
	border-bottom: 1px solid #74879C;
	margin:0;
	padding-left: 20px;
}
.menu ul{
	display: none;
	background: #041936;
	margin-bottom: 0;
}
.menu ul li{
	color: #e2e2e2;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	overflow: hidden;
}
.menu ul li a{color: #e2e2e2;padding-left: 26px;text-decoration: none;}
.menu ul li:hover{
	background: #044567;
}
.menu .selected{
	background: #044567;
}
.content .menu1 .tab {
	display: none;
}

.content .menu1 .active{
	display: block;
}
/*第二个菜单下的文档内容*/
.content .menu2 .tab {
	display: none;
}

.content .menu2 .active{
	display: block;
}
/*第三个菜单下的文档内容*/
.content .menu3 .tab {
	display: none;
}

.content .menu3 .active{
	display: block;
}
/*第四个菜单下的文档内容*/
.content .menu4 .tab {
	display: none;
}

.content .menu4 .active{
	display: block;
}
/*第五个菜单下的文档内容*/
.content .menu5 .tab {
	display: none;
}

.content .menu5 .active{
	display: block;
}
.list ul{
	margin-bottom: 0;
}
.list ul li{
	float: left;
	width: 200px;
	height: 30px;
	background-color: #041932;
	line-height: 30px;
	border:1px solid #5d718a;
}
.list ul li:nth-child(1){
	background-color: #031329;
	width: 140px;
	color:#00c7f9;
	text-align: center;
}
.list ul li:nth-child(2){
	padding-left: 15px;
	color:#e2e2e2;
}
/*表格样式*/
.table thead tr th{
	color:#09baed;
	/*background-color:#020e1e;*/
	text-align: center;
	font-weight: bolder;
}
.table tbody tr td{
	color:#e2e2e2;
	text-align: center;
}
.yellow{
	color: yellow!important;
}
.red{
	color: #ff4b62!important;
}
.green{
	color: #31e936!important;
}
.blue{
	color: #00ccff!important;
}
/*检索页样式结束*/

/*index.html样式*/
.index_search{
	border: 2px solid #19acb6;
	height: 60px;
	background-color: black;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	float: left;
	width: 596px;
	color:#e2e2e2;
	border-radius: 4px 0px 0px 4px;
}
.index_btn{
	text-align: center;
	line-height: 46px;
	color:#fff;
	float: left;
	border: 2px solid #19acb6;
	height: 60px;
	border-radius: 0px 4px 4px 0px;
	background-color: black;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	border-left: 0;
	font-size: 18px;
}
.senior_btn{
	margin-top:12px;
	float:left;
	margin-left: 24px;
}
.gaoji{
	background:#025cce;
	border-color: #025cce;
}
.mar-top{
	margin-left: 22px;
}
.quantity{
	color:#e2e2e2;
	text-align: right;
	padding: 25px 8px 0 0;
	margin-bottom: 150px;
	font-size: 12px;
}
.quantity p span{
	font-size: 22px;
	color:#24f9f1;
}
.allsearch{
	position: fixed;
	width: 800px;
	height: 60px;
	margin-left: 50%;
	left: -400px;
	top:50%;
}
/*首页样式结束*/

/*高级检索页样式*/
.content{
	padding: 0 25px 0 25px;
}
.all{
	color:#e2e2e2;
}
.all span{
	padding-left: 10px;
}
.all .checkbox-inline{
	border: 1px solid #5c6f88;
	height: 32px;
	line-height: 32px;
	border-radius:4px;
	padding: 0 10px 0 30px;
	background: #03162f;
}
.all .checkbox-inline input{
	margin-top: 9px;
}
.information{
	padding: 10px;
}
.small_all .checkbox-inline{
	height: 32px;
	line-height: 30px;
}
.small_all .checkbox-inline input{
	margin-top: 9px;
}
.detailed {
	padding-left: 15px;
}
.detailed label{
	color:#e2e2e2;
	margin-left: 0!important;
	padding: 15px 15px 0px 24px;
}
/*高级搜索页样式结束*/

/*news.html样式*/
.news_search{
	padding: 0 25px 0 25px;
}
.input_style{
	background: #001434;
	border: 1px solid #2c486f;
	height: 46px;
	color:#e2e2e2;
	border-radius: 4px;
	padding-left: 12px;
}
.form-inline label{
	color:#e2e2e2;
}
.news_search .span{
	color:#e2e2e2;
	float: left;
	margin:25px 0 25px 0;
}
.btn_sea{
	background: #001434;
	border: 1px solid #2c486f;
	color:#e2e2e2;
	border-radius: 4px;
	padding: 12px 16px;
	float:right;
	margin-left: 8px;
}
.news{
	padding: 0 25px 0 25px;
}
.news p{
	color:#ccc;
}
.btn_qs{
	height: 24px;
	background-color: #044d76;
	margin-bottom: 10px;
	border: 1px solid #044d76;
	width: 60px;
	color:#e2e2e2;
}
#goTo{
	width: 40px;
	border-radius: 4px;
	border:1px solid #ccc;
}